<div class=" body d-flex align-items-center justify-content-center h-100">
    <div class="login">
        <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
            <h1 class="text-black fs-1">Iniciar Sesión</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="text-black fs-5">Usuario</mat-label>
                <input class="text-black fs-4" type="text" matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="text-black fs-5">Contraseña</mat-label>
                <input class="text-black fs-4" type="password" matInput autocomplete="off" formControlName="contraseña">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button class="ancho" color="primary" [disabled]="form.invalid">Entrar</button>
        </form>
    </div>
</div>
