@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Black+Han+Sans&display=swap');

.login{
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ancho{
    width: 90%;
}
.spinner{
    margin: 0 auto;
}

h1{
    font-family: 'Amaranth', sans-serif;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #a5ff09;
}

.form{
    text-align: center;
}
