.body{
    background-color: rgb(216, 138, 252);
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;     
}
.login{
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 50px;
    background-color: rgb(83, 197, 154);
    backdrop-filter: blur(px);
    border-radius: 100px;
    border: 1px solid rgb(12, 75, 59);
    box-shadow: 30px 30px 30px rgb(150, 98, 163);
}
.ancho{
    width: 90%;
}
.spinner{
    margin: 0 auto;
}