.contenedor {
  height: 100vh !important;
  background-size: 0%;
  background-color: rgb(236, 174, 146);
}

div.container-fluid{
  padding: 0px;
}

.bg-barra {
  background-color: rgb(71, 35, 80);
}


