.toolbar-container {
  background-color: transparent;
  border-radius: 50px;

}

.bg-div {
  background-color: rgba(171, 228, 17, 0.24);
  border-radius: 30px;
  box-shadow: 30px 30px 30px rgba(219, 5, 184, 0.212);

}
