.sidenav-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .nav-superior{
    background-color:rgb(150, 98, 163) ;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav {
    height: calc(100vh - 130px);
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color:rgb(150, 98, 163);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    overflow: auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
    background-color: rgb(204, 132, 252);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 8px;
    background-color: rgb(83, 197, 154);
  }
  
  .menu-button {
    margin-right: 8px;
    color: aliceblue;
  }
  mat-icon{
    color: aliceblue;
  }
  span{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .h2{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 10px;
  }