.image-login {
  background: transparent url(..//..//../assets/image/img-login.jpg) no-repeat padding-box;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
}

.formulario {
  margin-top: 10em;
  margin-left: 5em;
  width: 23%;
  height: 370px;
  text-align: center;
  padding: 50px;
  background-color: rgb(177 112 234);
  backdrop-filter: blur(px);
}

.ancho {
  width: 90%;
}

.spinner {
  margin: 0 auto;
}
