<div class="image-login">


    <div class="formulario">
        <h1>Login</h1>
        <div *ngIf="loading" class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="text-black fs-9">Usuario</mat-label>
                <input class="text-white fs-7" type="text" matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label class="text-black fs-9">Contraseña</mat-label>
                <input class=" text-white fs-7" type="password" matInput autocomplete="off"
                    formControlName="contraseña" matInput [type]="hide ? 'password' : 'text'">
                <p mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </p>
            </mat-form-field>

            <button type="submit" mat-raised-button class="mt-5 ancho" color="primary"
                [disabled]="form.invalid">Entrar</button>

        </form>
    </div>

</div>