.ancho{
    width: 80%;
}

.mt-4{
    background-color: rgb(150, 98, 163);
}

.mx-4{
    background-color: blueviolet;
    color: aqua;
}

.mat-toolbar{
    color:  rgb(150, 98, 163);
    background-color:rgb(83, 197, 154);
}
