table {
  width: 100%;
}

th {
  width: 25%;
}

.pointer {
  cursor: pointer;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

.toolbar-container {
  background-color: transparent;
  
}

.boton {
  background-color: rgb(83, 197, 154);
}

.barra-filtrar {
  background-color: rgb(83, 197, 154);
  border: 2px solid rgb(12, 75, 59);
  border-radius: 10px;

}

.bg-div {
  background-color: rgba(175, 64, 197, 0.24);
  padding: 15px;
}

.bg-tabla {
  color: rgb(155, 20, 196);
  background-color: transparent;

}
