.toolbar-container{
    background-color: transparent;
    border-radius: 50px;
    
  }
  .bg-div{
    background-color: rgb(204, 132, 252);
    
  }
  .text-align-center {
    height: 100px;
    width: 1500px;

    line-height: 100px;
    text-align: center;
    vertical-align: middle;
  }